<form id="searchForm">
  <table id="formTable">
    <tr>
      <td colspan="2" id="jumboTD">
        <div class="jumbotron" id="jumboHeader"  style="background-color: #FFEBC8;">
          {% include 'enhancers/_blurb.html' -%}
        </div>
        <a href="#search"></a>
        <span id="searchTitle"><p>Search Enhancer-like Regions (v3)</span>
      </td>

      <td colspan="2">
        {% include 'enhancers/_gallery.html' -%}
      </td>
    </tr>

    <tr>
      <td colspan="2">
        {{ hh.badge(1, "Select genome") }}
        {% include 'enhancers/_genome_buttons.html' -%}
      </td>
    </tr>

    <tr>
      <td colspan="3">
        {{ hh.badge(2, "Enter gene, SNP,<br>coordinate, or rank") }}
        <div style="display: inline-block;">
             <input type="text" name="loci" id="lociSearchBox" value="{{defaults["mm10"]["pos"]}}">
             <br>
             {% include 'enhancers/_examples.html' -%}
        </div>
        {% include 'enhancers/_browser_buttons.html' -%}
      </td>
    </tr>

    <tr>
      <td colspan="4">
        <div class="alert alert-warning alert-dismissible" role="alert" style="display: none" id="errBox">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Warning!</strong> <span id="errMsg"></span>
      </td>
    </tr>

    <tr>
      <td colspan="4">
        {{ hh.badge(3, "Select assays<br>and cell types") }}
        {% include 'enhancers/_cell_type_buttons.html' -%}
        <br>
        <div id="cellTypeTable">
          {% include 'enhancers/_cell_type_tables.html' -%}
        </div>
      </td>
    </tr>

  </table>
</form>

<script src="../static/tablesort.min.js"></script>
<script>
  var selectorNames = {{epigenomes.SelectorNames()}};
  var annotationDefaults = {{defaults.json()}};
  {% include 'enhancers/js.js' -%}
</script>
<script src="../static/jquery.serialize-object.min.js"></script>
