<div id="exampleshg19" class="examples" {{ hh.hide(0) }} >
<i>Examples:</i> gene, SNP (ex. <a id="hg19SNP">{{defaults["hg19"]["snp"]}}</a>), genomic region, or <a href="#" data-toggle="tooltip" title="" data-original-title="For example, enter '5' in the search box, and select only 'Fetal Intestine Large' below">peak rank</a>
</div>

<div id="examplesmm10" class="examples" {{ hh.hide(1) }} >
<i>Examples:</i> gene, SNP (ex. <a id="mm10SNP">{{defaults["mm10"]["snp"]}}</a>), genomic region, or <a href="#" data-toggle="tooltip" title="" data-original-title="For example, enter '3' in the search box, and select only 'forebrain e14.5' below">peak rank</a>
</div>
