<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <p><a class="btn btn btn-warning" href="#" role="button" id="firstGalleryPane">
              Visualize on Genome Browser</a></p>
        </div>
      </div>
      <div class="inner-item">
        <div class="slider-size">
          <img alt="example1" src="/static/gallery/Enhancer.Image.2.507.jpg" style="height: 100%;">
        </div>
      </div>
    </div>

    <div class="item">
      <div class="container">
        <div class="carousel-caption">
          <p><a class="btn btn btn-warning" href="#" role="button" id="secondGalleryPane">
              Visualize on Genome Browser</a></p>
        </div>
      </div>
      <div class="inner-item">
        <div class="slider-size">
          <img alt="example1" src="/static/gallery/hg19_rs11742570.jpg" style="height: 100%;">
        </div>
      </div>
    </div>

    <div class="item">
      <div class="container">
        <div class="carousel-caption">
          <p><a class="btn btn btn-warning" href="#" role="button" id="thirdGalleryPane">
              Visualize on Genome Browser</a></p>
        </div>
      </div>
      <div class="inner-item">
        <div class="slider-size">
          <img alt="example1" src="/static/gallery/mm10-rs27106747.png" style="height: 100%;">
        </div>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
