{% import '_helpers.html' as hh -%}
{% include '_header.html' -%}

<form id="searchForm">
  <table id="formTable">
    <tr>
      <td colspan="2" id="jumboTD">
        <div class="jumbotron" id="jumboHeader" style="background-color: #5cb85c;">
          {% include 'promoters/_blurb.html' -%}
        </div>
        <a href="#search"></a>
        <span id="searchTitle"><p>Search Promoter-like Regions</span>
      </td>

      <td colspan="2">
        {% include 'promoters/_gallery.html' -%}
      </td>
    </tr>

    <tr>
      <td colspan="2">
        {{ hh.badge(1, "Select genome") }}
        {% include 'promoters/_genome_buttons.html' -%}
      </td>
    </tr>

    <tr>
      <td colspan="3">
        {{ hh.badge(2, "Enter gene, SNP,<br>coordinate, or rank") }}
        <div style="display: inline-block;">
             <input type="text" name="loci" id="lociSearchBox" value="{{defaults["mm10"]["pos"]}}">
             <br>
             {% include 'promoters/_examples.html' -%}
        </div>
        {% include 'promoters/_browser_buttons.html' -%}
      </td>
    </tr>

    <tr>
      <td colspan="4">
        <div class="alert alert-warning alert-dismissible" role="alert" style="display: none" id="errBox">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Warning!</strong> <span id="errMsg"></span>
      </td>
    </tr>

    <tr>
      <td colspan="4">
        {{ hh.badge(3, "Select assays<br>and cell types") }}
        {% include 'promoters/_cell_type_buttons.html' -%}
        <br>
        <div id="cellTypeTable">
          {% include 'promoters/_cell_type_tables.html' -%}
        </div>
      </td>
    </tr>

  </table>
</form>

<script src="static/tablesort.min.js"></script>
<script>
  var selectorNames = {{epigenomes.SelectorNames()}};
  var annotationDefaults = {{defaults.json()}};
  {% include 'promoters/js.js' -%}
</script>
<script src="static/jquery.serialize-object.min.js"></script>

{% include '_footer.html' -%}
