<div class="container">
  <h2>Tutorial</h2>
  <div class="row">
    <div class="col-sm-7">
      <br><br>
      <img class="img-responsive" src="../static/numbered.png">
    </div>
    <div class="col-sm-5">
      <ul class="list-group">
        <li class="list-group-item">
          <img src="../static/1.png" width="40" align="left" hspace="15">
          <p> Select Genome</p>
          <br>
          <p class="text-muted"><i>Genome: mm10</i> </p>
        </li>
        <li class="list-group-item">
          <img src="../static/2.png" width="40" align="left" hspace="15">
          <p> Enter gene, SNP, genomic coordinate, or rank</p>
          <br>
          <p class="text-muted"><i>genomic region: chr1:134054000-134071000</i></p>
        </li>
        <li class="list-group-item">
          <img src="../static/3.png" width="40" align="left" hspace="15">
          <p> Choose assays used to determine enhancer-like elements
          <p class="text-muted"><i>assays: DNase + H3K27ac</i></p>
        </li>
        <li class="list-group-item">
          <img src="../static/4.png" width="40" align="left" hspace="15">
          <p> Select cell types of interest</p>
          <br>
          <p class="text-muted"><i>cell types: hindbrain, midbrain, neural tube, and lung</i></p>
        </li>
        <li class="list-group-item">
          <img src="../static/5.png" width="40" align="left" hspace="15">
          <p>Display on genome browser</p>
          <br>
          <p class="text-muted"><i>UCSC</i></p>
        </li>
      </ul>
    </div>
  </div>

  <h2>ENCODE Encyclopedia Exercises</h2>

  <div class="row">
    <h3>Exercise #1</h3>
    <div class="col-md-4">
      You are a graduate student working on the mechanistic role and therapeutic potential of microRNA-122 (MIR122) in alcoholic liver disease. Are there any enhancers nearby that you could potentially study?
    </div>
    <div class="col-md-8">
      <button id="b1">Answer</button>
      <p>
        <div id="a1" style="visibility: hidden;">
          There appear to be several enhancer-like regions within 1Mb of MIR122. <a class="btn btn btn-warning" href="#" role="button" id="gb1">Visualize on Genome Browser</a>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>Exercise #2</h3>
    </div>
    <div class="col-md-8">

    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>Exercise #3</h3>
    </div>
    <div class="col-md-8">

    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>Exercise #4</h3>
    </div>
    <div class="col-md-8">

    </div>
  </div>

</div>

<script>
  {% include 'tutorial/js.js' -%}
</script>
<script src="../static/jquery.serialize-object.min.js"></script>
