

<div class="container">
  <div class="page-header">
    <h2>ENCODE Encyclopedia Exercises</h2>
  </div>

  <div class="col-sm-7">
    <br><br>
    <img class="img-responsive" src="help/search_ex2.png">
  </div>
  <div class="col-sm-5">
    <ul class="list-group">
      <li class="list-group-item">
        <img src="https://zlab.umassmed.edu/atlas/web/help/1.png" width="40" align="left" hspace="15">
        <p> Select Genome</p>
        <p class="text-muted"><i>Genome: mm10</i> </p>
      </li>
      <li class="list-group-item">
        <img src="https://zlab.umassmed.edu/atlas/web/help/2.png" width="40" align="left" hspace="15">
        <p> Enter gene, SNP, genomic coordinate, or rank</p>
        <p class="text-muted"><i>genomic region: chr1:134054000-134071000</i></p>
      </li>
      <li class="list-group-item">
        <img src="https://zlab.umassmed.edu/atlas/web/help/3.png" width="40" align="left" hspace="15">
        <p> Choose assays used to determine enhancer-like elements
        <p class="text-muted"><i>DNase + H3K27ac</i></p>
      </li>
      <li class="list-group-item">
        <img src="https://zlab.umassmed.edu/atlas/web/help/4.png" width="40" align="left" hspace="15">
        <p> Select cell types of interest
        </p><p class="text-muted"><i> hindbrain, midbrain, neural tube, and lung</i></p>
      </li>
      <li class="list-group-item">
        <img src="https://zlab.umassmed.edu/atlas/web/help/4.png" width="40" align="left" hspace="15">
        <p> Select cell types of interest
        </p><p class="text-muted"><i> hindbrain, midbrain, neural tube, and lung</i></p>
      </li>
    </ul>
  </div>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h3>Exercise #1</h3>
      You are interested in
    </div>
    <div class="col-md-8">

    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>Exercise #2</h3>
    </div>
    <div class="col-md-8">

    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>Exercise #3</h3>
    </div>
    <div class="col-md-8">

    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>Exercise #4</h3>
    </div>
    <div class="col-md-8">

    </div>
  </div>

</div>
