<nav class="navbar navbar-default" id="navbar-main" role="navigation">
  <div class="container-fluid">

  <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="https://www.encodeproject.org/data/annotations/" id="linkToEncode">&#60; Encyclopedia</a></li>
        <li class="{{hh.navLinnkActive('enhancers', site)}}"><a href="/enhancers/">Enhancer-like</a></li>
        <li class="{{hh.navLinnkActive('promoters', site)}}"><a href="/promoters/">Promoter-like</a></li>
        <li class="{{hh.navLinnkActive('taget_gene', site)}}"><a href="/target_gene/">Target Genes</a></li>
      </ul>

      <ul class="nav navbar-nav pull-right">
        <li class="{{hh.navLinnkActive('tutorial', site)}}"><a href="/tutorial/">Tutorial</a></li>
        <li><img src="/static/encode-logo-small-2x.png" alt="ENCODE logo" id="encode_logo" height=50></li>
    </div>
  </div>
</nav>
