<nav class="navbar navbar-default" id="navbar-main" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <p class="navbar-brand-text" id="navbar-brand-center">Annotated Genomic Regions
    </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="https://www.encodeproject.org/data/annotations/" id="linkToEncode">&#60; ENCODE Annotations</a></li>
      </ul>

      <ul class="nav navbar-nav pull-right">
        <li><img src="/static/ENCODE_logo.small.png" alt="ENCODE logo" id="encode_logo"></li>
    </div>
  </div>
</nav>
