body {
    padding-left: 10px;
}

.selectTissues table {
    /*
      border-collapse: separate;
      border-spacing: 50px 0;
      */
}

.selectTissues td {
/*
  padding-right: 10px 0;
  */
}

#lociSearchBox {
    width: 300px;
}

.checkboxTable {
    width: auto;
    /*min-width: 50%;*/
}

.checkboxTable th {
    padding-right: 10px; /* !important;*/
}

/* for sorttable */
.table-tight>tbody>tr>td,
.table-tight>tbody>tr>th,
.table-tight>tfoot>tr>td,
.table-tight>tfoot>tr>th,
.table-tigth>thead>tr>td,
.table-tight>thead>tr>th {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* for column sorting */
th.sort-header::-moz-selection { background:transparent; }
th.sort-header::selection      { background:transparent; }
th.sort-header { cursor:pointer; }

table th.sort-header:after {
  content:'';
  float:right;
  margin-top:7px;
  margin-left: 2px;
  border-width:0 4px 4px;
  border-style:solid;
  border-color:#404040 transparent;
  opacity:0.4;
  }

table th.sort-header:hover:after {
  opacity:0.8;
  visibility:visible;
  }

table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after {
  opacity:0.4;
  }

table th.sort-up:after {
  border-bottom:none;
  border-width:4px 4px 0;
  }

/* pull checkboxes higher */
input[type=checkbox]{
    margin-top: 0px;
}

#jumboHeader {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #eee;
}

#jumboHeader p {
    font-size: 14px;
}
#jumboHeader h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 48px;
}

.btn-warning {
    color: black;
    background-color: #ffffb3;
    border-color: black;
}

#searchTitle p {
    font-size: 24px;
}

.badge {
    font-size: 22px;
}

#linkToEncode {
    padding-left: 0px;
}

#navbar-main {
    background-color: #337ab7;
    margin-bottom: 5px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-brand-text {
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

#navbar-brand-center {
    color: white;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

#main-navbar-collapse {
    padding-left: 0px;
}

.btn.nohover:hover,
.btn.nohover:focus,
.btn.nohover.focus,
.btn-nohover:active,
.btn-nohover.active  {
    color: black;
    background-color: #ffffb3;
    border-color: black;
    cursor:default !important;
}

#sideWell {
    /* text-align: center; */
}

#encode_logo {
    margin-left: 10px;
    background-color: white;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}

#formTable {
    width: 100%;
    table-layout: fixed;
}

#formTable td {
    vertical-align: top;
}

#browserButtons {
    padding-left: 50px;
    display: inline-block;
}

#myBadge1 {
    padding-bottom: 5px;
}

#myBadge4 {
    width: inherit;
    padding-right: 10px;
}

/* carousel */
#myCarousel {
    /*display: none;*/
}

.carousel-control.left, .carousel-control.right {
    /* no gradient */
    background-image: none
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-next {
    color: black;
}

.myBadge {
    width: 175px;
    display: block;
    float: left;
}

#cellTypeTable {
    display: inline-block;
 }

.examples {
    display: inline;
}

.methodFigureBox {
    padding: 10px;
    border-style: solid;
    margin-left: 10px;
    width: 420px;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
    max-width: 500px;
}

.gallery_wrapper {
    max-width: 500px;
}

.answerDiv {
    display: none;
}

.tutorialQuestion {
    padding-bottom: 40px;
}

.tutorialBox {
    padding-left: 25px;
    padding-right: 25px;
}

.tutorialPanelHeading h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}