{% import '_helpers.html' as hh -%}
{% include '_header.html' -%}

<style>
html, body{height:100%; margin:0;padding:0}

.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

.centering {
  float:none;
  margin:0 auto;
}
</style>

<div id="mainPage">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="centering text-center">
        <div class="form-group">
          <div class="col-md-4 center-block">
            <a href="enhancers/">
              <button class="btn btn-primary center-block">
                Enhancer-like<br>regions
              </button>
            </a>
            <br>
            <a href="promoters/">
              <button class="btn btn-primary center-block">
                Promoter-like<br>regions
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include '_footer.html' -%}
