{% import '_helpers.html' as hh -%}

{% include '_header.html' -%}

{% macro classErr(e) -%}
{% if e["title"].startswith("ERROR") -%}
"btn btn-danger"
{% else -%}
"btn btn-success"
{% endif -%}
{% endmacro -%}

{% macro row(e) -%}
{% if None != e["title"] -%}
<button type="button" class={{classErr(e)}}>
  <a href="{{e.url}}" style="color: inherit;">{{e.title}}</a>
</button>
{% endif -%}
{% endmacro -%}

<table border=1>
  <thead>
    <th>desc</th>
    <th>DNase</th>
    <th>DNase Norm</th>
    <th>H3K27ac</th>
    <th>H3K27ac Norm</th>
  </thead>
  <tbody>
    {% for desc, DNase, DNaseNorm, H3K27ac, H3K27acNorm in missing -%}
    <tr>
      <td>{{desc}}</td>
      <td>{{row(DNase)}}</td>
      <td>{{row(DNaseNorm)}}</td>
      <td>{{row(H3K27ac)}}</td>
      <td>{{row(H3K27acNorm)}}</td>
    </tr>
    {% endfor -%}
</table>
{% include '_footer.html' -%}
